.double-btn {
  height: 4.5rem;
  display: flex;

  a[class^="double-btn"] {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }

  a.btn-logged {
    color: #ddd;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    transition: color 300ms ease;
    &:first-child {
      margin-right: 1.5rem;
    }

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }
    svg {
      fill: #ddd;
      width: 18px;
      height: 24px;
      margin-right: .5rem;
      transition: color 300ms ease;
    }
  }

  &--left {
    background-color: $secondary;
    color: $primary;
    border-radius: 25px 0 0 25px;
    transition: background-color 300ms, color 300ms;

    &:hover {
      color: $secondary;
      background-color: $primary;
    }
  }

  &--right {
    border-radius: 0 25px 25px 0;
    transition: background 300ms;
    position: relative;

    span {
      color: $secondary;
      z-index: 2;
    }

    &::after {
      background: linear-gradient(90deg, $primary, $primary-dark);
      opacity: 1;
    }

    &::before {
      background: linear-gradient(90deg, $primary-dark, $primary);
      opacity: 0;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      border-radius: 0 25px 25px 0;
      z-index: 0;
      transition: opacity .5s;
    }

    &:hover::after {
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.lang-btn {
  font-weight: bold;
  padding: .75rem 5rem .75rem 2.5rem;
  border-radius: 25px;
  border: 2px solid $gray;
  cursor: pointer;
  position: relative;
  transition: border-radius 300ms ease;
  z-index: 99;
  width: 124px;

  &:hover,
  &.open {
    border-radius: 20px 20px 0 0;
  }

  &__selected {
    color: $gray;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;

    &::after,
    &::before {
      content: "";
      height: 2px;
      width: 10px;
      position: absolute;
      background-color: $gray;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 300ms;
    }

    &::after {
      right: -25px;
      transform: rotate(-45deg);
    }

    &::before {
      right: -19px;
      transform: rotate(45deg);
    }
  }

  &:hover .lang-btn__list,
  &.open .lang-btn__list{
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
    visibility: visible;
    display: block;
    transition: transform 300ms, opacity 300ms ease 100ms;
  }

  &:hover .lang-btn__selected,
  &.open .lang-btn__selected{
    &::after, &::before {
      transform: rotate(0);
    }
  }

  &__list {
    position: absolute;
    visibility: hidden;
    display: none;
    top: 100%;
    left: -2px;
    width: 124px;
    box-shadow: 1px 1px 1px #333;
    list-style: none;
    border-radius: 0 0 3px 3px;
    transform: translateY(-100%);
    opacity: 0;
    border: 2px solid $gray;
    z-index: -2;
    background-color: $tertiary;

    li {
      border-radius: 0 0 5px 0;

      &:first-child {
        margin-top: .3rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #333333;
      }

      a {
        text-decoration: none;
        transition: color 300ms;
        color: $gray;
        display: block;
        width: 100%;
        text-align: center;
        padding: .5rem 0;
        font-size: 1.2rem;

        @include tablet {
          font-size: 1.4rem;
          padding: 1rem;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.btn-primary {
  color: $secondary;
  padding: 1.25rem 3rem;
  border-radius: 25px;
  outline: none;
  border: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  box-shadow: 4px 4px 14px rgba($primary-dark, .6);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 300ms ease;
  display: inline-block;
  text-decoration: none;

  &:hover {
    box-shadow: -4px 4px 14px rgba($primary-dark, .6);
  }

  span {
    position: relative;
    color: $secondary;
    z-index: 2;
  }

  &::after, &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 0;
    transition: opacity .5s;
  }

  &::after {
    background: linear-gradient(90deg, $primary, $primary-dark);
    opacity: 1;
  }

  &::before {
    background: linear-gradient(90deg, $primary-dark, $primary);
    opacity: 0;
  }

  &:hover::after {
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &--xl {
    @extend .btn-primary;
    margin: 3rem auto 0;
    display: block;
    max-width: 30rem;
    padding: 2.5rem 5rem;
    text-align: center;
    border-radius: 5rem;
  }
}

.btn-secondary {
  color: $secondary;
  padding: 1.25rem 3rem;
  border-radius: 25px;
  outline: none;
  border: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 300ms, box-shadow 300ms, color 300ms;
  cursor: pointer;

  &:hover {
    color: $primary;
    background-color: rgba($secondary, 1);
    box-shadow: 3px 3px 9px rgba($secondary, .1);
  }
}
.btn-tertiary {
  color: $secondary;
  padding: 1.25rem 3rem;
  border-radius: 25px;
  outline: none;
  border: 1px solid $primary;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 300ms, box-shadow 300ms, color 300ms;

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &:hover {
    color: $primary;
    background-color: rgba($secondary, 1);
    box-shadow: 3px 3px 9px rgba($secondary, .1);
  }

  &--white {
    color: $tertiary;
    background-color: rgba($secondary, 1);
    border: 1px solid $secondary;

    &:hover {
      color: $secondary;
      background-color: rgba($secondary, 0);
    }
  }
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 13.5rem;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  @include tablet {
    max-width: 8rem;
  }
  &--img {
    width: 100%;
  }
}


