.course-card {
  &__item {
    background-color: transparent;
    transition: background-color 300ms;
    position: relative;
    z-index: 1;
    margin: 3rem 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: calc(100% + 6rem);
      width: calc(100% + 6rem);
      background-color: transparent;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 300ms;
    }

    &--cover {
      border: 2px solid $secondary;
      height: 45rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &--author {
      display: flex;
      align-items: center;
      color: $secondary;
      transition: color 300ms;
      margin-top: 2rem;
    }

    &--features {
      margin-top: 1.5rem;
    }

    &--title {
      color: $primary;
      text-align: left;
      font-weight: 400;
      font-size: 3rem;
      font-family: 'Norwester', sans-serif;
    }

    &--description {
      font-weight: 300;
      font-size: 1.8rem;
      color: $secondary;
      transition: color 300ms;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 1.5rem;
    }
  }
}