.form {
  &__group {
    position: relative;
    color: $gray-dark-3;
  }

  &__input {
    padding: 3rem 3rem 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    border: 1px solid #DADADA;
    outline: none;

    &:focus ~ .form__label, &:valid ~ .form__label {
      font-size: 1.1rem;
      top: 5px;
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 1.8rem;
    left: 25px;
    pointer-events: none;
    position: absolute;
    top: 21px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }
}