.slider {
  position: relative;
  margin: 8rem 0 5rem;

  .course-card__item {
    margin: .5rem;
    &:hover {
      background-color: $secondary;
      z-index: 2;

      &::before {
        box-shadow: 9px 7px 20px rgba($tertiary, .7);
        background-color: $secondary;
      }

      .course-card__item--author {
        color: $tertiary;
      }

      .course-card__item--description {
        color: $tertiary;
      }

      .course-card__item--features .banner__info {
        background-color: rgba($tertiary, .3);
        color: $tertiary;
      }
    }
  }

  .swiper-slide {
    background: none;
    text-align: left;
  }

  &__container {
    max-width: 120rem;
    margin: 0 auto;
  }

  &__navigation {
    position: absolute;
    top: 50%;
    width: auto;

    &::after {
      position: absolute;
      top: 50%;
      display: none;
    }

    &.swiper-button-prev {
      left: 0;
    }

    &.swiper-button-next {
      right: 0;
    }
  }


  .slider-author {
    margin-top: 5rem;

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      column-gap: 12rem;

      @include tablet {
        column-gap: 2.5rem;
      }

      &--description {
        color: $secondary;
        font-weight: 300;
        font-size: 2rem;
        text-align: right;
        font-style: italic;
        grid-column: 1;
        align-self: end;
      }

      &--author {
        color: $primary;
        font-size: 2.4rem;
        font-weight: 400;
        text-align: right;
        grid-column: 1;
        align-self: center;
      }

      &--subtitle {
        align-self: start;
        color: $secondary;
        font-weight: 300;
        font-size: 1.6rem;
        text-align: right;
        grid-column: 1;
      }

      &--cover {
        grid-column: 2;
        grid-row: 1 / 4;
        border: 3px solid $secondary;
        overflow: hidden;
        max-width: 50rem;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: transform 500ms ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 1.5rem;
    }

    .swiper-pagination-bullet {
      background: $secondary;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: $secondary;
        transform: scale(2);
      }
    }

  }
}
