.header {
  min-height: 50vh;
  grid-column: container-start / container-end;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 25rem;
  margin-bottom: 15rem;

  &__text-box {
    max-width: 56rem;
  }

  &__cta {
    margin-top: 5rem;

    .btn-secondary {
      padding-left: 5rem;
      margin-left: -4rem;
    }
  }
}