.nav {
  background: linear-gradient(180deg, $tertiary, rgba($tertiary, 0));
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  box-shadow: 3px 3px 0 rgba($tertiary, 0);
  transition: background 500ms ease, height 500ms ease, box-shadow 500ms ease;

  &.scrolled {
    transition: background 500ms ease, height 500ms ease, box-shadow 500ms ease;
    height: 6.5rem;
    background: rgba($tertiary, .7);
    box-shadow: 3px 3px 3px rgba($tertiary, .4);
  }

  @include grid-container;
  @include tablet {
    max-height: unset;
  }

  &__container {
    grid-column: container-start / container-end;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      z-index: 100;
      padding-top: 8rem;
      padding-bottom: 10rem;
      background-color: rgba($tertiary, .93);
      //flex-direction: column;
      align-items: stretch;
      flex: 1 1 100%;
      transform: translateX(100%);
      transition: transform 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
    }

    &.mobile-on {
      @include tablet {

        transform: translateX(0);
        transition: transform 300ms ease;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 2.5rem;
    @include tablet {
      flex-direction: column;
      margin-right: 0;
    }
  }

  &__link {
    color: $gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem;
    transition: color 300ms;
    @include tablet {
      display: block;
      text-align: center;
      padding: 2.5rem 0;
    }

    &:hover {
      color: $primary;
    }
  }

  .double-btn {
    @include tablet {
      margin: auto auto 0;
      width: 90%;
    }
    a {
      @include tablet {
        width: 50%;
        justify-content: center;
      }
    }
  }

  .lang-btn {
    margin-right: 1.5rem;

    @include tablet {
      margin: 3rem auto;
    }
  }

  .toggle-btn {
    display: none;
    height: 22px;
    width: 30px;
    background: none;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 101;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @include tablet {
      display: block;
    }

    span {
      width: 100%;
      height: 3px;
      background: $primary;
      position: absolute;
      left: 0;
      transition: all 300ms ease;
      border-radius: 3px;
    }

    &--1 {
      top: 0;
    }

    &--2 {
      top: 50%;
    }

    &--3 {
      top: 100%;
    }

    &.open {
      .toggle-btn--1 {
        transform: rotate(45deg);
        top: 50%;
      }

      .toggle-btn--2 {
        opacity: 0;
      }

      .toggle-btn--3 {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    z-index: 101;

    img {
      max-width: 18rem;

      @include sm-desktop {
        max-width: 16.5rem;
      }
    }
  }

  &__item {
    @include tablet {
      box-shadow: 0 4px 5px -3px rgba($primary, .3);
    }
  }
}