.container {
  //height: 100vh;
  display: grid;
  grid-template-columns: 1.5rem [full-start] minmax(3rem, 1fr) [container-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [container-end] minmax(3rem, 1fr) [full-end] 1.5rem;

  @include sm-desktop {
    grid-template-columns: 1.5rem [full-start] 1fr [container-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [container-end] 1fr [full-end] 1.5rem;
  }
}


.grid {
  display: grid;
  grid-column: container-start / container-end;

  &__container {
    display: grid;
    grid-gap: 2.5rem;
    margin: 7.5rem 0;

    h1 {
      align-self: end;
    }

    &--about {
      margin: 15rem 0 10rem;
    }

    &.center {
      justify-items: center;
      margin-top: 15rem;
    }

    .course-card__item--description {
      text-align: center;
    }
  }
}

.grid-4 {
  display: grid;
  max-width: 120rem;
  margin: 5rem auto 0;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2.5rem;

  @include desktop {
    max-width: unset;
    padding: 0 1.5rem;
  }
}

.wrapper {
  display: grid;
  gap: 10rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  @include mobile {
    gap: 4rem;
  }
}