.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5rem [full-start] minmax(3rem, 1fr) [container-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [container-end] minmax(3rem, 1fr) [full-end] 1.5rem;
}

.grid {
  display: grid;
  grid-column: container-start / container-end;

  &__container {
    display: grid;
    grid-gap: 2.5rem;
    margin: 7.5rem 0;

    &.center {
      justify-items: center;
    }

    .course-card__item--description {
      text-align: center;
    }
  }
}

.wrapper {
  display: grid;
  gap: 10rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
}